body{
    margin:0;
    padding:0;
    background:#0f172a;
    font-family:Arial, sans-serif;
    color:white;
}

.container{
    width:90%;
    max-width:400px;
    margin:auto;
    padding-top:20px;
}

h1{
    text-align:center;
}

.card{
    background:#1e293b;
    padding:20px;
    border-radius:15px;
    text-align:center;
    margin-top:20px;
}

.card h1{
    color:#22c55e;
    font-size:40px;
}

.buttons{
    margin-top:20px;
    display:flex;
    flex-direction:column;
    gap:15px;
}

button{
    padding:15px;
    border:none;
    border-radius:12px;
    background:#2563eb;
    color:white;
    font-size:18px;
    cursor:pointer;
}

button:hover{
    opacity:0.9;
}

.history{
    background:#1e293b;
    padding:15px;
    border-radius:15px;
    margin-top:20px;
}

.history ul{
    list-style:none;
    padding:0;
}

.history li{
    padding:10px;
    border-bottom:1px solid #334155;
}